header {
  // margin-top: 5.5rem;
  width: 70%;
  margin: 5.5rem auto 0 auto;
  h2 {
    letter-spacing: 0.8rem;
    font-size: 2rem;
    display: inline;
  }
  .fa {
    font-size: 1.5rem;
    vertical-align: top;
  }

  p {
    font-size: 4rem;
    letter-spacing: -0.1rem;
    margin-top: 1rem;
  }
}
