main {
  margin-top: 5rem;
  .fa {
    font-size: 8rem;
    background: $color-background;
    border-radius: 50%;
    padding: 5rem;
  }
  .card {
    background: $color-primary;
    width: 68%;
    height: 22rem;
    margin: 0 auto;
  }
  .icon-img {
    padding-top: 2rem;
  }
}
