main {
  margin: 5rem 2rem 0 2rem;
  .fa {
    font-size: 8rem;
    background: $color-background;
    border-radius: 50%;
    padding: 5rem;
  }
  .card {
    background: $color-primary;
    width: 68%;
    height: 22rem;
    margin: 0 auto;
  }
  .icon-img {
    padding-top: 2rem;
  }
  .description {
    margin-top: 3rem;
  }
  h1 {
    letter-spacing: .05rem;
    margin-bottom: 2.6rem;
  }
  p {
    letter-spacing: .15rem;
    margin-bottom: 6.5rem;
  }
}
